.widget_small {
  flex: 1;
  -webkit-box-shadow: 0 6px 38px -4px rgb(24 27 30 / 14%);
  -moz-box-shadow: 0 6px 38px -4px rgb(24 27 30 / 14%);
  box-shadow: 0 6px 38px -4px rgb(24 27 30 / 14%);
  padding: 20px;
  margin-right: 20px;
}

.widgetSm_title {
  font-size: 22px;
  font-weight: 600;
}
.widgetSm_image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.widget_small_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widgetSm_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.widgetSm_user {
  display: flex;
  flex-direction: column;
}
.widgetSmUsername {
  font-weight: 600;
}

.widgetSm_user_title {
  font-weight: 300;
}

.widgetSm_button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 7px 14px;
  background-color: #eeeef7;
  color: gray;
}
.widgetSm_icon {
  font-size: 16px;
  margin-right: 5px;
}
